.navBg {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
}

/* .lpPic {
    min-height: 60em;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
} */

.banner {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    padding: 1.5rem;
}

.logo {
    width: 11.5rem;
    margin: auto;
    padding: auto;
}

.securePay {
    width: 20rem;
    margin: auto;
    padding: auto;
    text-align: center;
}

.button {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    border-color: white;
}

.affiliateImages {
    width: 10rem;
}

p {
    font-size: 100%;
}

#tos {
    text-decoration: none;
    color: white;
}

form {
    width: 50rem;
}

#navbarNav {
    direction: rtl;
}

.socials {
    width: 2rem;
}

a, u {
    text-decoration: none;
  }

/* hr {
    width: 25%;
    margin-left: 25%;
    margin-right: 25%;
} */
/* .regImg {
    width: 25rem;
} */