.navBg {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
}

/* .lpPic {
    min-height: 60em;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
} */

.banner {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    padding: 1.5rem;
}

.logo {
    width: 18rem;
    margin: auto;
    padding: auto;
}

.securePay {
    width: 20rem;
    margin: auto;
    padding: auto;
    text-align: center;
}

.button {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    border-color: white;
}

.affiliateImages {
    width: 10rem;
}

/* .regImg {
    width: 25rem;
} */