.navBg {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
}

.banner {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    padding: 1rem;
}

.logo {
    width: 11.5rem;
    margin: auto;
    padding: auto;
}

.securePay {
    width: 20rem;
    margin: auto;
    padding: auto;
    text-align: center;
}

.whiteBorder {
    border: solid 5px white;
}

.blackBorder {
    border: solid 5px black;
}

.button {
    background: linear-gradient(
        45deg, #213458, #1D7D81);
    border-color: white;
}

.featured {

    background: #0dd3da;
    border: solid 5px #1D7D81;
}

.affiliateImages {
    width: 9rem;
}

.card {
    width: 100%;
}

h3 {
    font-size: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

h2 {
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tos {
    text-decoration: none;
    color: white;
}

form {
    width: 50rem;
}

#navbarNav {
    direction: rtl;
}

.socials {
    width: 1.5rem;
}

a, u {
    text-decoration: none;
}

.bg01 {
    background-image: url("../images/bg01.png");
    padding: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg02 {
    background-image: url("../images/bg02.png");
    padding: 3em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}